.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.title {
    color: rgb(85, 81, 3);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    background-color: rgba(255, 255, 255, .3);
    padding: 5px 15px;
}
